@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
    --very-dark-blue: #1D2025;
    --orange: #FF7D1A;
    --pale-orange: #FFEDE0;
    --grayish-blue: #68707D;
    --light-grayish-blue: #F7F8FD;
    --black-75: rgba(0, 0, 0, 0.75);
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

menu,
nav,
p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

figure {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

input,
button {
    border: 0;
}

.modal-wrapper {
    background-color: var(--black-75);
}

nav>a:hover,
nav>a:active {
    border-bottom: var(--orange) 4px solid;
    color: var(--very-dark-blue);
}

.font-xxl {
    color: var(--very-dark-blue);
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 700;
}

.font-xl {
    color: var(--very-dark-blue);
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 700;
}

.font-l {
    color: var(--very-dark-blue);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.font-m {
    font-size: 16px;
    line-height: 26px;
}

.font-s {
    color: var(--grayish-blue);
    font-size: 15px;
    letter-spacing: 0.01em;
}

.font-xs {
    color: var(--grayish-blue);
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.font-xxs {
    color: var(--orange);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .font-xxl {
        font-size: 44px;
        line-height: 48px;
    }

    .font-xs {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
    }

    .font-xxs {
        font-size: 14px;
        letter-spacing: 0.08em;
    }
}

ins {
    all: unset
}

.gallery {
    background: url('./img/image-product-1.webp') no-repeat,
        url('./img/image-product-2.webp') no-repeat,
        url('./img/image-product-3.webp') no-repeat,
        url('./img/image-product-4.webp') no-repeat;
    background-size: 100vw;
    background-position-y: -35px, 0, 0, 0;
}

.index-0 {
    background-position-x: 0, 100vw, 200vw, 300vw;
}

.index-1 {
    background-position-x: -100vw, 0, 100vw, 200vw;
}

.index-2 {
    background-position-x: -200vw, -100vw, 0, 100vw;
}

.index-3 {
    background-position-x: -300vw, -200vw, -100vw, 0;
}

.badge {
    background-color: var(--pale-orange);
    color: var(--orange);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    display: inline-block;
}

.modal {
    position: fixed;
    top: 0;
}